<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ETHEREAL</title>
  <link rel="icon" href="{{ url_for('static', filename='images/Ethereal.png') }}" type="image/x-icon" />
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

  <!-- Responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="chatbot">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>ETHEREAL ✧˖°</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <div class="user_option">
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <section class="chatbotbg vh-100">
      <div class="container">
        <div class="headerbot mb-4">
          <div class="d-flex align-items-center">
            <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Ethereal AI Logo"
              class="rounded-circle user_img" style="width: 50px; height: 50px; margin-top: 30px;">
            <h4 class="botname">Ethereal AI</h4>
          </div>
        </div>
        <div class="botcontent mb-4"></div>
        <div class="inputbot">
          <input type="text" class="form-control" id="userInput" placeholder="Type your message...">
          <div class="btn">
            <button type="button" class="btn textinput" id="textSubmit">✉</button>
            <button type="button" class="btn speechinput ms-2" id="voiceSubmit">🎤︎</button>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
